/* ------------------ Scaffolding styles ------------- */

.site-container {
    background-color: #FFF;
    padding: 30px;
}

/* ------------- Section --------------*/

.section {margin-bottom: $base-rhythm*5.5;}
.section-title {margin-bottom: $base-rhythm*3;}