/* ---------------- Lists ----------------*/

// Footer

.site-map-list {
    @include inline-list;

    display: inline-block;
}

.social-icons-list {
    @include inline-list;

    display: inline-block;

    & > li {
        margin-left: 5px;
    }
}